body{
    background-color:bisque;
  }


h1{
    font-size: 30px;
    color: darkslategray;
    text-align: center;
}

h2{

font-size: 50px;
color: darkslategray;
text-align: center;

}

p {
    font-size: 20px;
    color: darkslategray;
    text-align: center;
    
}

img {
 
 
    max-width: 300px;
    max-height: 300px;
    height: 400px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-color: darkslategray;
}
   

.overlay h3 {

  text-align: center;
    font-size: 20px;
color: darkslategray;
margin-bottom: 10px;

}


#centerimageindex {


    border: solid  5px darkslategray;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 600px;
    max-height: 600px;

}
    

   
     

    #center {

        border: solid  5px darkslategray;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    #centerone {
    
        border: solid  5 px darkslategray;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }
    
    #centerimg {
        border: solid 5px darkslategray;
        
    }
    
    #centertxt { 
        display: flex;
    justify-content: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
   

   
    
    



     
   


 body {
        border: 10px solid darkslategray;
         height: max-content
        } 



#navbar {
    font-family: Helvetica ; 
    border:darkslategray 2px solid ;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:darkslategray

}

#navbar a {
    color:bisque ;
    font-size: 35px;
    text-decoration: none;
}

#navbar a:hover {
    color:cyan

}


#socials {

    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    word-spacing: 500px;
    text-align:center ;
    justify-content: space-around;
    

}

#socials a {
    color: darkslategray;
    font-size: 35px;
    text-decoration: none;
}

#socials a:hover {
    
    color: cyan

}


